html, body{
	margin:52px 0 0 0;
		}
body {
		background-image: url("../images/brickwall/brickwall_@2X.png");
		height: 6000px;
	}
#fixed {
	color: #f5f2f2;
	width: 150px;
	height: 20px;
	float: left;
	position: relative;
	left: 100;
	z-index: 1;
	font-family: ‘Lucida Grande’, ‘Lucida Sans Unicode’, Lucida, Verdana, Helvetica, Arial, sans-serif;
}

header{
				position: fixed;
				background:#4e4444;
				width: 100%;
				top:0;
				padding:0px;
			}

			header nav ul{
				margin:10px;
				font-family: ‘Lucida Grande’, ‘Lucida Sans Unicode’, Lucida, Verdana, Helvetica, Arial, sans-serif;
			}

			header nav li{
				float: right;
				padding:10px;
				list-style-type:none;
			}

			header nav li a{
				text-decoration: none;
				color:#fff;
				transition: color 0.5s;
			}

			header nav li a:hover{
				color:rgba(255, 255, 255, 0.75);
			}	
			header nav div a{
				text-decoration: none;
				color:#fff;
				transition: color 0.5s;
			}		

.wrapper {

  width: 650px;
  margin: 0;
  z-index: 999;
}


#relative {
	background-color: #eee;
	height: 100px;
	position: relative;
	left: 100
	margin-left: 150;
	margin-right: 150;

}

#absolute {
	background-color: #999;
	width: 200px;
	height: 100px;
	position: absolute;
	bottom: 0;
	right: -20px;
}
.header {	https://www.themuse.com/static/stylesheets/post_individual.css?v=7227a4cef1f5d5a94e454a405508644c17cc3cc3a4e99db334b3a76403d51c6c
    position: static;
    padding: 0;
}

.header {	https://www.themuse.com/static/stylesheets/post_individual.css?v=7227a4cef1f5d5a94e454a405508644c17cc3cc3a4e99db334b3a76403d51c6c
    text-align: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 400;
}